* {
    font-family: 'Roboto Mono', monospace;
    background-color: #ECE4DC;
    color: #535231;
}

#title {
    text-align: center;
    margin: 0 auto;
    font-size: 36px;
    font-weight: 500;
    padding: 10px;
}

#board, .boardInfo {
    max-width: 500px;
    margin: 0 auto;
}

#board {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

#start, .boardInfo {
    font-size: 32px;
    font-weight: 600;
}

#gameOver {
    display: none;
    margin: 0 auto;
}

.boardInfo {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#start {
    background-color: #D8968F;
    border: none;
    color: white;
}

#scoreBoard {
    display: inline-flex;
}

.square {
    aspect-ratio: 1;
}

.emptySquare {
    background-color: #726759;
}

.snakeSquare {
    background-color: #CAD19F;
}

.foodSquare {
    background-color: #FFDBE0;
}